@using Kui.Core.Convert
@model Kui.Core.Convert.List
<div class='card'>
    <div class='card-header'><p class='card-header-title'>@Model.Label</p></div>
    <div class='card-content'>
        @foreach(var element in Model.Items)
        {
            @if(element is Group)
            {
                @Html.Partial("EditGroup", element);
            }
            else if (element is List)
            {
                @Html.Partial("EditList", element);
            }
            else if (element is Field)
            {
                @Html.Partial("EditText", element);
            }
        }
    </div>
</div>
