@model Kui.Core.Convert.Field
<div class="field">
  <label class="label">@Model.Label</label>
  <div class="control">
    <input id="@Model.Path" class="input" type="text" placeholder="@Model.Label" value="@Model.Value" >
  </div>
</div>